{# template do accordion de categoria #}

<div class="card">
    <div class="card-header bg-success" id="heading_{{ categoria.id }}" data-toggle="collapse"
         data-target="#collapse_{{ categoria.id }}"
         aria-expanded="true" aria-controls="collapse_{{ categoria.id }}">
        <h5 class="mb-0">
            <a href="#" class="text-light">
                {{ categoria.nome }}
            </a>
        </h5>
        <a href="{{ path('categoria_download',{"id":categoria.id}) }}" target="_blank"> <i
                    class="material-icons icone-accordion">archive</i></a>
    </div>

    <div id="collapse_{{ categoria.id }}" class="collapse" aria-labelledby="heading_{{ categoria.id }}"
         data-parent="#accordion-results">
        <div class="card-body">
            {% if categoria.resultados | length > 0 %}
                {{ include('home/tabela_resultados.html.twig',{'categoria': categoria}) }}
            {% else %}
                <h3 class="alert alert-success display-5 alert-centralizado">Essa categoria ainda não possui resultados
                    cadastrados.</h3>
            {% endif %}

        </div>
    </div>
</div>
