
{# template do card de corrida #}
<div class="card mb-4 shadow-sm">
    <div class="card-header bg-success">
        <h4 class="my-0 text-white font-weight-normal">{{ corrida.nome }}</h4>
    </div>
    <div class="card-body"
         style="background-image: url({{ corrida.imagem ? asset('images/'~corrida.imagem.filename) : asset('slider/foto1.jpg') }});
                 background-size: contain;
                 background-position: center;
                 background-repeat: no-repeat;">
        <div class="front"></div>
        <div class="back">
            <h1 class="card-title pricing-card-title"><i class="material-icons">event</i>{{ corrida.data | date('d/m') }}
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
                {% if not corrida.linkRegulamento is null %}
                    <li><i class="material-icons">room</i>{{ corrida.cidade }}</li>
                    <li>
                        <a href="{{ corrida.linkRegulamento }}" target="_blank"><i class="material-icons">link</i>Regulamento</a>
                    </li>
                {% endif %}
                {% if not corrida.linkOrganizador is null %}
                    <li>
                        <a href="{{ corrida.linkOrganizador }}" target="_blank"><i class="material-icons">person</i>Organizador</a>
                    </li>
                {% endif %}
                {% if corrida.hasAnexos %}
                    <li onclick="$('#exampleModal{{ corrida.id }}').modal('show');" class="anexo">
                        <i class="material-icons">attachment</i>Anexos
                    </li>
                    <!-- Modal -->
                    {{ include('home/modal_anexo.html.twig',{'corrida': corrida}) }}
                {% endif %}
            </ul>
            {% if corrida.hasCategoria %}
                <a href="{{ path('resultado_corrida',{'id':corrida.id}) }}"
                   class="btn btn-lg btn-block btn-outline-success">RESULTADOS</a>
            {% endif %}
        </div>
    </div>
</div>