{% extends "base.html.twig" %}


{% block conteudo %}

    <div class="titulo-page px-3 py-3 pt-md-2 pb-md-2 mx-auto text-left">
        <h2 class="display-4">Contato</h2>
    </div>

    <div class="container-fluid">
        <div id="box-contato">
			{% if status == "erro" %}
                <div class="alert alert-warning display-5 alert-centralizado" role="alert">
                    <strong>Falha de Envio!</strong> Houve um erro ao enviar sua mensagem mas você pode nos contatar pelo email <strong>{{ dados_contato.email }}</strong>!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            {% if status == "sucesso" %}
                <div class="alert alert-success display-5 alert-centralizado" role="alert">
                    <strong>Mensagem enviada com Sucesso!</strong> Sua mensagem foi enviada em breve entraremos em contato!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <div id="box-informacoes-contato">
                <h3 class="display-5 text-center">Informações para Contato</h3>
                <h4 class="display-5"><b>Horário de Atendimento:</b>08:00 às 18:00 de Segunda a Sexta.</h4>
                <h4 class="display-5"><b>E-mail</b>: {{ dados_contato.email }}</h4>
                <h4 class="display-5"><b>Telefone</b>: {{ dados_contato.telefone }}</h4>
                <h4 class="display-5"><b>Endereco</b>: {{ dados_contato.endereco }}</h4>
            </div>
            <div id="box-formulario-contato">
                <h3 class="display-5 text-center">Formulário para Contato</h3>
                <form method="post">
                    <div class="form-group">
                        <label for="campoNome">Nome Completo</label>
                        <input type="text" class="form-control" name="nome" id="campoNome" aria-describedby="nomeHelp" required
                               placeholder="...">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">E-mail</label>
                        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp"
                               placeholder="meuemail@email.com" required >
                        <small id="emailHelp" class="form-text text-muted">Seu e-mail não será compartilhado ou enviado
                            spam.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="campoCelular">Celular</label>
                        <input type="text" class="form-control" name="celular" id="campoCelular" aria-describedby=""
                               placeholder="(XX) XXXXX-XXXX" >
                    </div>
                    <div class="form-group">
                        <label for="campoMensagem">Mensagem</label>
                        <textarea type="" class="form-control" name="mensagem" id="campoMensagem" placeholder="olá..." required  ></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Enviar</button>
                </form>
            </div>
        </div>

    </div>
{% endblock %}