{% extends "base.html.twig" %}


{% block conteudo %}

    <div id="area-carousel" class="px-3 border py-3 pt-md-2 pb-md-2 mx-auto text-center">
        <div id="carouselExampleIndicators" class="carousel slide" data-interval="5000" data-ride="carousel">
            <ol class="carousel-indicators">
                {% if sliderCorridas | length > 0 %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                {% else %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                {% endif %}
            </ol>
            <div class="carousel-inner">

                {% if sliderCorridas | length > 0 %}
                    {% set contador  = 0 %}
                    {% for corrida in sliderCorridas %}
                        {% set contador  = contador + 1 %}
                        {% if contador == 1 %}
                            {% set slideActive = "active" %}
                        {% else %}
                            {% set slideActive = "" %}
                        {% endif %}
                        <div class="carousel-item {{ slideActive }}"
                             style="height: 440px;background-image: url({{ asset("slider/foto") }}{{ (random(1) + 1) ~ ".jpg" }});background-size: 100% 100%;
                                     background-position: center;background-repeat: no-repeat;">
                            <div class="dados-corrida-slider">
                                <img src="{{ corrida.imagem ? asset('images/'~corrida.imagem.filename) : asset('slider/foto1.jpg') }}"
                                     width="240"/>
                                <div class="info-corrida">
                                    <h1 class="card-title pricing-card-title"><i class="material-icons">event</i>
                                        {{ corrida.data | date('d/m') }}
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        {% if corrida.distancia is defined %}
                                            <li><i class="material-icons">explore</i>Distância {{ corrida.distancia }}KM
                                            </li>
                                        {% endif %}
                                        <li><i class="material-icons">room</i>{{ corrida.cidade }}</li>
                                        <li><a href="{{ corrida.linkRegulamento }}" target="_blank"><i
                                                        class="material-icons">link</i>Regulamento</a>
                                        </li>
                                        <li><a href="{{ corrida.linkOrganizador }}" target="_blank"><i
                                                        class="material-icons">person</i>Organizador</a>
                                        </li>
                                        {% if corrida.hasAnexos %}
                                            <li><a href="#"><i
                                                            class="material-icons">attachment</i>Anexos</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="carousel-item active"
                         style="height: 440px;background-image: url({{ asset("slider/foto2.jpg") }});background-size: 100% 100%;
                                 background-position: center;background-repeat: no-repeat;">
                    </div>
                    <div class="carousel-item"
                         style="height: 440px;background-image: url({{ asset("slider/foto1.jpg") }});background-size: 100% 100%;
                                 background-position: center;background-repeat: no-repeat;">
                    </div>
                {% endif %}
            </div>

            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    {% if corridasWithAnexosHome | length > 0 %}
        <div id="anexos-home">
            <h3>Destaques</h3>
            <div class="link-anexo">
                {% for corrida in corridasWithAnexosHome %}
                    <li onclick="$('#exampleModal{{ corrida.id ~ 'attachment' }}').modal('show');" class="anexo">
                        <i class="material-icons">attachment</i>{{ corrida.tituloAnexos }}
                    </li>
                    <!-- Modal -->
                    {{ include('home/modal_anexo.html.twig',{'modal_id': corrida.id ~ 'attachment', 'corrida': corrida}) }}
                {% endfor %}
            </div>
            <div class="pagerfanta">
                {{ pagerfanta(corridasWithAnexosHome, 'default_translated',{'prev_message' : '<', 'next_message': '>'}) }}
            </div>
        </div>
    {% endif %}

    <div class="titulo-page px-3 py-3 pt-md-2 pb-md-2 mx-auto text-left">
        <h2 class="display-4">Últimos Resultados</h2>
    </div>

    <div class="container-fluid">

    <div class="card-deck mt-1 d-flex justify-content-around flex-wrap text-left">


        {% if corridas | length > 0 %}
            {% for corrida in corridas %}
                {{ include('home/card_corrida.html.twig',{'corrida': corrida }) }}
            {% endfor %}
        {% else %}
            <h3 class="alert alert-warning display-5 alert-centralizado">Ops!, nenhuma corrida cadastrada até o
                momento.</h3>
        {% endif %}


    </div>

    <a class="btn btn-outline-success btn-central" href="{{ path('resultados') }}">TODOS OS RESULTADOS</a>
{% endblock %}