<div class="modal fade" id="exampleModal{{ modal_id is defined ? modal_id : corrida.id }}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Anexos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% set categoria_aux = '' %}
                {% for anexo in corrida.anexos %}
                {% set categoria_atual = anexo.categoria ? anexo.categoria.nome : 'Geral' %}
                {% if categoria_aux != categoria_atual %}
                {% set categoria_aux = categoria_atual ?? 'Geral' %}
                {% if loop.index > 0 %}
                    </ol>
                {% endif %}
                <p>{{ categoria_atual }}</p>
                <ol>
                    {% endif %}
                    <div class="link-anexo">
                        <li>
                            <i class="material-icons">attachment</i><a href="{{ asset(anexo.getWebPath) }}" target="_blank">{{ anexo.filename }}</a>
                        </li>
                    </div>
                    {% endfor %}
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>