{% extends "base.html.twig" %}


{% block conteudo %}
    <div class="titulo-page px-3 py-3 pt-md-2 pb-md-2 mx-auto text-left">
        <h2 class="display-4">Resultados - {{ corrida.nome }}</h2>
    </div>

    <div class="container-fluid" style="background-color: whitesmoke">
        <div class="dados-corrida">
            <h2 class="display-5">Informações da Corrida</h2>
            <img src="{{ corrida.imagem ? asset('images/'~corrida.imagem.filename) : asset('slider/foto1.jpg') }}" width="240"/>
            <div class="info-corrida">
                <h1 class="card-title pricing-card-title"><i class="material-icons">event</i>
                    {{ corrida.data | date('d') }}/{{ corrida.data | date('m') }}
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    {#<li><i class="material-icons">explore</i>Distância {{ corrida.distancia }}KM</li>#}
                    <li><i class="material-icons">room</i>{{ corrida.cidade }}</li>
                    {% if not corrida.linkRegulamento is null %}
                        <li>
                            <a href="{{ corrida.linkRegulamento }}" target="_blank"><i class="material-icons">link</i>Regulamento</a>
                        </li>
                    {% endif %}
                    {% if not corrida.linkOrganizador is null %}
                        <li>
                            <a href="{{ corrida.linkOrganizador }}" target="_blank"><i class="material-icons">person</i>Organizador</a>
                        </li>
                    {% endif %}
                    {% if corrida.hasAnexos %}
                        <li onclick="$('#exampleModal{{ corrida.id }}').modal('show');" class="anexo">
                            <i class="material-icons">attachment</i>Anexos
                        </li>
                        <!-- Modal -->
                        {{ include('home/modal_anexo.html.twig',{'corrida': corrida}) }}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="accordion" id="accordion-results">
            {% if corrida.categorias | length > 0 %}

                {% for categoria in corrida.categorias %}
                    {{ include('home/accordion_categoria.html.twig',{'categoria': categoria}) }}
                {% endfor %}
            {% else %}
                <h3 class="alert alert-success display-5 alert-centralizado">Essa corrida ainda não possui resultados
                    cadastrados.</h3>
            {% endif %}
        </div>


    </div>
{% endblock %}

{% block certificado %}
    <img src="{{ corrida.imagemCertificado ? asset('photos/certificadoNewCustom.png ') : asset('photos/certificadoNew.png') }}" style="display: none;" />
    <div id="certificado-base" style="background-image:url('{{ corrida.imagemCertificado ? asset('photos/certificadoNewCustom.png ') : asset('photos/certificadoNew.png')  }}'); -webkit-print-color-adjust: exact;">
        {% if corrida.imagemCertificado %}
        <p>
            <img src="{{ asset('images/'~corrida.imagemCertificado.filename) }}" style="position:absolute; top:27px; left:10px; z-index:10; width:270px; max-height:240px; border:none;" />
        </p>
        {% endif %}
        <p id="nome-certificado">ELENA ROOBENS</p>
        <p id="evento-certificado">{{ corrida.nome }}</p>
        <p id="data-certificado">{{ corrida.data | date('d') }}/{{ corrida.data | date('m') }}/{{ corrida.data | date('Y') }}</p>
        <p id="tempo-bruto-certificado">
            <span>02</span>
            <span>34</span>
            <span>52</span>
        </p>
        <p id="tempo-liquido-certificado">
            <span>02</span>
            <span>34</span>
            <span>52</span>
        </p>
        <p id="ritmo-certificado">12</p>
        <p id="velocidade-certificado">13</p>
        <p id="geral-certificado">14</p>
        <p id="faixa-certificado">15</p>
        <p id="modalidade-certificado">modalidade</p>
        <p id="faixa-etaria-certificado">faixa</p>
        <p id="equipe-certificado">equipe</p>
    </div>
{% endblock %}