{% extends "base.html.twig" %}


{% block conteudo %}

  <div class="titulo-page px-3 py-3 pt-md-2 pb-md-2 mx-auto text-left">
    <h2 class="display-4">Resultados Cadastrados</h2>
  </div>

  <div class="container-fluid">
    <div id="line-filter">
      {{ form_start(form) }}
      {{ form_label(form.nome) }}
      {{ form_widget(form.nome) }}
      {{ form_label(form.data) }}
      {{ form_widget(form.data) }}
      {{ form_widget(form.submit) }}
      {{ form_end(form) }}
    </div>
    <div class="card-deck  text-left">


      {% if corridas | length > 0 %}
        {% for corrida in corridas %}
          {{ include('home/card_corrida.html.twig',{'corrida': corrida }) }}
        {% endfor %}
      {% else %}
        <h3 class="alert alert-warning display-5 alert-centralizado">Ops!, nenhuma corrida cadastrada até o
          momento.</h3>
      {% endif %}
    </div>

    <div class="pagerfanta">
      {{ pagerfanta(corridas, 'default_translated') }}
    </div>
  </div>
{% endblock %}