{# template do card de corrida #}
<h4 class="display-6 left-side" style="width: 50%">Posição Geral</h4>
<table style="" class="table table-bordered tabela-resultados ">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Posição Geral</th>
        <th scope="col">Número</th>
        <th scope="col">Nome</th>
        <th scope="col">Sexo</th>
        <th scope="col">Faixa</th>
        <th scope="col">Equipe</th>
        <th scope="col">Tempo Líquido</th>
        <th scope="col">Tempo Bruto</th>
    </tr>
    </thead>
    <tbody class="bg-light">
    {% for resultado in resultado_geral(categoria) %}
        <tr id="heading_resultado{{ resultado.id }}" data-toggle="collapse"
            data-target="#collapse_resultado_{{ resultado.id }}"
            class="clickable accordion-toggle {% if resultado.premiacaoGeral %} tr-premiada {% endif %} ">
            <th scope="row">{{ resultado.posicaoGeral }}</th>
            <td>{{ resultado.numero }}</td>
            <td>{{ resultado.nome }}</td>
            <td>{{ resultado.sexo }}</td>
            <td>{{ resultado.faixa }}</td>
            <td>{{ resultado.equipe }}</td>
            <td>{{ resultado.tempoLiquido ? resultado.tempoLiquido |  date("%H:%I:%S") : "" }}</td>
            <td>{{ resultado.tempoBruto ? resultado.tempoBruto |  date("%H:%I:%S") : "" }}</td>
        </tr>
        <tr id="collapse_resultado_{{ resultado.id }}" class="">
            <td colspan="10" class="hiddenRow">
                <div id="collapse_resultado_{{ resultado.id }}" class="accordion-body collapse">
                    <div class="row">

                        <div class="valores tempo col">
                            <i class="material-icons icon-valores">alarm</i>
                            <div class="title">Tempo Final</div>
                            <div class="icon"></div>
                            <div class="time">{{ resultado.tempoLiquido ? resultado.tempoLiquido |  date("%H:%I:%S") : "" }}</div>
                            <hr>
                            <div class="title2">Tempo Bruto</div>
                            <div class="time2">{{ resultado.tempoBruto ? resultado.tempoBruto |  date("%H:%I:%S") : "" }}</div>
                        </div>
                        {% set tempoMinutos = time_to_decimal(resultado.tempoLiquido | date("%h:%i:%s")) %}
                        {% set distancia = resultado.distancia ? resultado.distancia : resultado.categoria.distancia %}
                        {% set mediaVelocidade = ( distancia / tempoMinutos) * 60 %}
                        {% set paceMedio = decimal_to_time(tempoMinutos / distancia) %}
                        <div class="valores pace col">
                            <i class="material-icons icon-valores">directions_run</i>
                            <div class="title">Pace Médio</div>
                            <div class="icon"></div>
                            <div class="time">
                                {{ paceMedio }} <span>min/km</span>
                            </div>
                            <hr>
                            <div class="title2">Velocidade Média</div>
                            <div class="time2">{{ mediaVelocidade |number_format(2, ',', '.') }} <span>km/h</span></div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8 mt-2 mb-2 d-none d-md-block">
                            <button data-nome="{{ resultado.nome }}"
                                    data-tempo-bruto="{{ resultado.tempoBruto |  date("%H:%I:%S") }}"
                                    data-tempo-liquido="{{ resultado.tempoLiquido |  date("%H:%I:%S") }}"
                                    data-ritmo="{{ paceMedio }}"
                                    data-velocidade="{{ mediaVelocidade |number_format(2, ',', '.') }}"
                                    data-geral="{{ resultado.posicaoGeral }}"
                                    {% if resultado.posicaoFaixa > 0 %}
                                        data-faixa="{{ resultado.posicaoFaixa }}"
                                    {% else %}
                                        data-faixa="-"
                                    {% endif %}
                                    data-modalidade="{{ resultado.categoria.nome }}"
                                    data-corrida-nome="{{ resultado.categoria.corrida.nome }} {{ resultado.categoria.distancia }}Km"
                                    data-faixa-etaria="{{ resultado.faixa }}"
                                    data-equipe="{{ resultado.equipe }}"
                                    class="btn btn-block btn-success btn-certificado">
                                Certificado
                            </button>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
                </div>

                </div>
            </td>
        </tr>

    {% endfor %}
    </tbody>
</table>

{# template do card de corrida #}
 {% for resultado in faixas_resultado(categoria) %}
     <h4 class="display-6 left-side" style="width: 50%">Resultados da Faixa: {{ resultado.faixa }}</h4>


     <table style="" class="table table-bordered table-striped tabela-resultados ">
         <thead class="thead-dark">
         <tr>
             <th scope="col">Posição Faixa</th>
             <th scope="col">Número</th>
             <th scope="col">Nome</th>
             <th scope="col">Sexo</th>
             <th scope="col">Faixa</th>
             <th scope="col">Equipe</th>
             <th scope="col">Tempo Líquido</th>
             <th scope="col">Tempo Bruto</th>
         </tr>
         </thead>
         <tbody class="bg-light">
         {% for resultado in resultado_faixa(categoria, resultado.faixa) %}
             <tr id="heading_resultado{{ resultado.id }}" data-toggle="collapse"
                 data-target="#collapse_resultado_{{ resultado.id }}"
                 class="clickable accordion-toggle {% if resultado.premiacaoFaixa %} tr-premiada {% endif %}">
                 <th scope="row">{{ resultado.posicaoFaixa }}</th>
                 <td>{{ resultado.numero }}</td>
                 <td>{{ resultado.nome }}</td>
                 <td>{{ resultado.sexo }}</td>
                 <td>{{ resultado.faixa }}</td>
                 <td>{{ resultado.equipe }}</td>
                 <td>{{ resultado.tempoLiquido ? resultado.tempoLiquido |  date("%H:%I:%S") : "" }}</td>
                 <td>{{ resultado.tempoBruto ? resultado.tempoBruto |  date("%H:%I:%S") : "" }}</td>
             </tr>
             <tr id="collapse_resultado_{{ resultado.id }}" class="">
                 <td colspan="10" class="hiddenRow">
                     <div id="collapse_resultado_{{ resultado.id }}" class="accordion-body collapse">
                         <div class="row">

                             <div class="valores tempo col">
                                 <i class="material-icons icon-valores">alarm</i>
                                 <div class="title">Tempo Final</div>
                                 <div class="icon"></div>
                                 <div class="time">{{ resultado.tempoLiquido ? resultado.tempoLiquido |  date("%H:%I:%S") : "" }}</div>
                                 <hr>
                                 <div class="title2">Tempo Bruto</div>
                                 <div class="time2">{{ resultado.tempoBruto ? resultado.tempoBruto |  date("%H:%I:%S") : "" }}</div>
                             </div>
                             {% set tempoMinutos = time_to_decimal(resultado.tempoLiquido | date("%h:%i:%s")) %}
                             {% set distancia = resultado.distancia ? resultado.distancia : resultado.categoria.distancia %}
                             {% set mediaVelocidade = (distancia / tempoMinutos) * 60 %}
                             {% set paceMedio = decimal_to_time(tempoMinutos / distancia) %}
                             <div class="valores pace col">
                                 <i class="material-icons icon-valores">directions_run</i>
                                 <div class="title">Pace Médio</div>
                                 <div class="icon"></div>
                                 <div class="time">
                                     {{ paceMedio }} <span>min/km</span>
                                 </div>
                                 <hr>
                                 <div class="title2">Velocidade Média</div>
                                 <div class="time2">{{ mediaVelocidade |number_format(2, ',', '.') }} <span>km/h</span>
                                 </div>
                             </div>


                         </div>
                         <div class="row">
                             <div class="col-2"></div>
                             <div class="col-8 mt-2 mb-2 d-none d-md-block">
                                 <button data-nome="{{ resultado.nome }}"
                                         data-tempo-bruto="{{ resultado.tempoBruto |  date("%H:%I:%S") }}"
                                         data-tempo-liquido="{{ resultado.tempoLiquido |  date("%H:%I:%S") }}"
                                         data-ritmo="{{ paceMedio }}"
                                         data-velocidade="{{ mediaVelocidade |number_format(2, ',', '.') }}"
                                         data-geral="{{ resultado.posicaoGeral }}"
                                         {% if resultado.posicaoFaixa > 0 %}
                                             data-faixa="{{ resultado.posicaoFaixa }}"
                                         {% else %}
                                             data-faixa="-"
                                         {% endif %}
                                         data-modalidade="{{ resultado.categoria.nome }}"
                                         data-corrida-nome="{{ resultado.categoria.corrida.nome }} {{ resultado.categoria.distancia }}Km"
                                         data-faixa-etaria="{{ resultado.faixa }}"
                                         data-equipe="{{ resultado.equipe }}"
                                         class="btn btn-block btn-success btn-certificado">
                                     Certificado
                                 </button>
                             </div>
                             <div class="col-2"></div>
                         </div>
                     </div>
                     </div>

                     </div>
                 </td>
             </tr>

         {% endfor %}
         </tbody>
     </table>
 {% endfor %}