html {
}

body {
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif !important;

}

@media print {
    body {
        padding: 0px;
        margin: 0px;
        border: none;
        background-color: white;
    }

    body * {
        display: none !important;
        padding: 0px;
        margin: 0px;
    }

    #accordion-menu, #barra-menu, #btn-menu {
        display: none !important;
    }

    #certificado-base {
        margin: 20px auto;
        border: 4px solid #00a157;
    }

    #certificado-base, #certificado-base * {
        display: block !important;
    }

    @page {
        margin: 0.1cm;
        size: landscape;
    }
}

#area-carousel {
    background-color: whitesmoke;
}

.anexo {
    cursor: pointer;
    color: #e48d00;;
}

.carousel {
    max-width: 1800px;
    margin: 0px auto;
}

.carousel-item {
    padding-top: 58px;
}

.bg-success {
    background: rgb(0, 100, 66);
    background: linear-gradient(90deg, rgba(0, 100, 66, 0.8) 0%, rgba(38, 166, 91, 1) 100%);
}

#barra-menu {
    border-top: 6px solid #26A65B !important;
    position: relative;
    overflow: hidden;
}

#barra-menu nav, #barra-menu a {
    z-index: 2;
    font-weight: bold;
}

#barra-menu nav a {
    color: whitesmoke !important;
    transition: all 0.4s ease-in-out;
    margin: 6px !important;
    opacity: 0.9;
}

#barra-menu nav a:hover {
    color: white !important;
    text-decoration: none;
    opacity: 1;
}

#box-menu-container {
    background-color: #26A65B;
    width: 60% !important;
    position: absolute;
    top: 0px;
    right: -50px;
    height: 100%;
    transform: skew(-40deg) !important;
    -webkit-transform: skew(-40deg) !important;
    -moz-transform: skew(-40deg) !important;
    z-index: 0;
}

.alert-centralizado {
    margin: 10px auto;
}

.display-4 {
    font-size: 3em;
    transform: skew(28deg) !important;
    -webkit-transform: skew(28deg) !important;
    -moz-transform: skew(28deg) !important;
}

.titulo-page {
    border-left: 6px solid #26a65b;
    border-right: 6px solid #26a65b;
    padding: 0px 40px !important;
    margin: 30px auto;
    height: 52px;
    width: fit-content;
    transform: skew(-30deg) !important;
    -webkit-transform: skew(-30deg) !important;
    -moz-transform: skew(-30deg) !important;
}

.titulo-page i {
    font-size: 0.9em !important;
    margin-right: 10px;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
}

.card-deck .card {
    min-width: 350px;
    max-width: 388px;
}

.card-header {
    border-radius: 0px !important;
}

.card-header h4, .info-corrida h4 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
}

.card-deck .card-body .back {
    border-radius: 5px;
    border: 1px solid #00a65a;
    background-color: rgba(255, 255, 255, 0.86);
    padding: 5px 15px;
    min-height: 100%;
}

.card-deck .card-body {
    height: 333px;
    border: 1px solid #00a65a;
}

.card-body h1 i, .info-corrida h1 i {
    font-size: 45px;
    float: left;
    margin-top: 4px;
    margin-right: 5px;
}

.card-body li, .info-corrida li, .link-anexo li {
    font-size: 21px;
    font-weight: bolder;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 2px;
    padding-top: 2px;
}

.card-body li a, .info-corrida li a, .link-anexo li a {
    color: #e48d00;
}

.card-body li i, .info-corrida li i, .link-anexo li i {
    font-size: 20px;
    margin-right: 4px;
    color: #e48d00;
}

.link-anexo {
    padding-top: 1rem;
}

#anexos-home {
    padding: 2rem;
    font-size: 10px;
}

.btn-central {
    margin: 20px auto;
    width: 300px;
    display: block;
    text-align: center;
    clear: both;
    height: 35px;

}

.dados-corrida-slider {
    height: 300px;
    width: 76%;
    padding-top: 35px;
    padding-left: 35px;
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.85);
    border-bottom: 4px solid #00a65a;

}

.dados-corrida-slider ul li {
    font-size: 25px !important;
    font-family: Calibri;
}

.dados-corrida-slider img {
    width: 348px;
    height: 230px;
    float: left;
    margin-right: 80px;
    display: block;
}

.dados-corrida-slider .info-corrida {
    margin-top: 2px;
    padding-top: 10px;
    height: 230px;
    float: left;
    display: block;
    border-left: 2px solid #00ca6d;
    padding-left: 80px;
}

/* Tela de Resultados da Corrida */

.dados-corrida {
    height: 300px;
    width: 665px;
    margin: 20px 20px;
    padding: 10px 2px;

}

.dados-corrida img {
    width: 340px;
    height: 230px;
    float: left;
    margin-right: 40px;
    display: block;
}

.dados-corrida .info-corrida {
    margin-top: 2px;
    padding-top: 10px;
    height: 230px;
    float: left;
    display: block;
    border-left: 2px solid #00ca6d;
    padding-left: 40px;
}

#accordion-results .card-header:hover {
    cursor: pointer;
}

#accordion-results tr.clickable:hover {
    background-color: #00a65a;
    color: white;
    cursor: pointer;
}

.tabela-resultados, .info-corrida ul {
    font-family: Calibri;
    font-size: 14px;
}

.tabela-resultados .tr-premiada {
    background-color: rgba(243, 198, 5, 0.78);
    font-size: 20px;
    font-weight: 600;
}


/* Tela de Contato*/

#box-contato {
    display: block;
    clear: both;
    width: fit-content;
    min-height: 600px;
    margin: 80px auto;
}

#box-contato h3 {
    margin-bottom: 25px;
}

#box-informacoes-contato {
    display: block;
    width: 500px;
    float: left;
}

#box-informacoes-contato h4 {
    margin-top: 50px;
}

#box-formulario-contato {
    display: block;
    width: 500px;
    padding-left: 30px;
    border-left: 2px solid #00a65a;
    float: left;
}

#accordion-results .card-header h5 {
    width: 80% !important;
    float: left;
}

.accordion-body {
    display: block;
    position: relative;
    font-family: 'Raleway', sans-serif !important;
}

.accordion-body .row {
    width: 100%;
    margin: 0px !important;
    background-color: white;
}

.icone-accordion {
    color: white;
    float: right;
    width: 25px;
}

.hiddenRow {
    padding: 0 !important;
}

.btn-certificado {
    font-weight: bold;
    text-transform: uppercase;
}

/* Resultado */
.valores {
    position: relative;
    padding: 10px;
    margin: 0;
    height: auto;
    border-radius: 0;
}

.icon-valores {
    position: absolute;
    color: white;
    top: 15px;
    right: 20px;
    font-size: 45px;
}

.left-side {
    float: left;
}

.right-side {
    float: right;
}

.valores.pace {
    background-color: #00a7d0;
    width: 100%;
    color: white;
}

.valores.tempo {
    background-color: #e08d25;
    color: white;
    font-family: Calibri;
}

.valores .title {
    font-size: 18px;
    display: inline;
}

.valores .time {
    font-size: 24px;
    line-height: 1;
    margin: 3px 0 0;
    font-family: Calibri;
}

.valores .title2 {
    font-size: 18px;
    padding: 0;
    line-height: 1;
    width: 140px;
    display: inline;
    /*float: left;*/
}

.valores .time2 {
    display: inline;
    font-size: 20px;
    font-weight: 600;
    float: right;
    margin-top: -7px;
    font-family: Calibri;
}

/* -------------- CERTIFICADO  ------------ */

#certificado-base {
    display: none;
    font-family: Calibri;
    position: relative;
    width: 1040px;
    height: 730px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    font-size: 22px;
}

#certificado-base p {
    position: absolute;
    text-shadow: 1px 1px 8px #0f0f0f;
}

#nome-certificado {
    top: 112px;
    left: 535px;
    font-weight: 600;
}

#evento-certificado {
    top: 142px;
    left: 472px;
    font-weight: 600;
}

#data-certificado {
    top: 174px;
    left: 367px;
    font-weight: 600;
}

#tempo-bruto-certificado {
    top: 310px;
    left: 85px;
    font-weight: 600;
    color: black;
}

#tempo-liquido-certificado {
    top: 382px;
    left: 85px;
    font-weight: 600;
    color: black;
}

#tempo-bruto-certificado span, #tempo-liquido-certificado span {
    margin-right: 30px;
    float: left;
}

#ritmo-certificado {
    top: 308px;
    left: 355px;
    font-weight: 600;
    font-size: 28px;
    color: black;
}

#velocidade-certificado {
    top: 380px;
    left: 360px;
    font-weight: 600;
    font-size: 28px;
    color: black;
}

#geral-certificado {
    top: 315px;
    left: 740px;
    font-size: 36px;
    color: white;
    font-weight: 600;
}

#faixa-certificado {
    top: 385px;
    left: 690px;
    font-size: 36px;
    color: white;
    font-weight: 600;
}

#modalidade-certificado {
    top: 455px;
    left: 220px;
    font-size: 16px;
    color: black;
}

#faixa-etaria-certificado {
    top: 495px;
    left: 220px;
    font-size: 16px;
    color: black;
}

#equipe-certificado {
    top: 538px;
    left: 220px;
    font-size: 16px;
    color: black;
}

/* -------------  Paginação -------------  */
.pagerfanta {
    width: fit-content;
    height: fit-content;
    display: block;
    margin: 10px auto;
}

.pagerfanta .disabled {
    border-color: darkgray;
    color: darkgray;
}

.pagerfanta .current {
    background-color: #00a65a;
    color: white;
}

.pagerfanta a, .pagerfanta span {
    border-radius: 4px;
    display: inline-block;
    border: 2px solid #00a65a;
    color: #00a65a;
    margin-right: .2em;
    padding: .25em .35em;

}

#line-filter {
    display: block;
    min-height: 50px;
    margin: 20px auto;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

#line-filter form label {
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 10px;
    font-weight: 600;
}

#line-filter form input {
    border-radius: 1px;
    margin-right: 5px;
    color: #0c914a;
    font-size: 16px;
}

#line-filter form button {
    margin-top: 7px;
    text-transform: uppercase;
    border-radius: 1px;
}

/*  -------------  MEDIA QUERIES -------------   */

@media screen and (min-width: 1199px) {
    body {
        min-height: 900px;
    }

    #accordion-menu, #btn-menu {
        display: none;
    }

}

@media screen and (max-width: 575px) {
    #line-filter form button {
        margin-top: 1.2em;
        margin-left: 1px;
    }

    .pagerfanta a, .pagerfanta span {
        font-size: 12px;
    }
}

@media screen and (max-width: 1198px) {
    #line-filter {
        overflow: visible;
    }

    #line-filter form {
        float: none;
    }

    #line-filter form label {
        font-size: 18px;
        margin-top: 10px;
    }

    #area-carousel {
        display: none;
    }

    .card-deck {
        justify-content: center;
    }

    .display-4 {
        font-size: 1.8em;
    }

    .titulo-page {
        height: 35px;
        border-left: 2px solid #26a65b;
        border-right: 2px solid #26a65b;
        padding: 0px 8px !important;
    }

    #barra-menu {
        align-items: normal !important;
    }

    #logo-menu {
        display: block;
        float: left;
        margin-top: 20px !important;
        width: 30%;
    }

    #btn-menu {
        z-index: 10;
        position: absolute;
        top: 40px;
        right: 50px;
    }

    #accordion-menu {
        margin-top: -22px;
        z-index: 10;
        width: 100%;
        max-height: 210px;
        background: #00a157;
    }

    #accordion-menu .card-body {
        margin-top: 0px !important;
    }

    #accordion-menu nav {
        padding-left: 4%;
        margin-top: 0px !important;
    }

    #accordion-menu a {
        width: 100%;
        display: block;
        clear: both;
        color: white !important;
        font-weight: bold;
        background-color: #00a65a;
        margin-bottom: 4px;
        /*border-bottom: 1px solid white;*/
    }

    #box-menu-container {
        background-color: #26A65B;
        width: 68% !important;
        position: absolute;
        top: 0px;
        right: -80px;
        height: 150px;
        transform: skew(-40deg) !important;
        -webkit-transform: skew(-40deg) !important;
        -moz-transform: skew(-40deg) !important;
        z-index: 0;
    }

    #lista-menu, #btn-acessar {
        display: none;
    }
}

@media screen and (max-width: 1030px) {
    .card-deck .card {
        min-width: 300px;
        max-width: 100%;
    }

    .tabela-resultados {
        overflow: scroll;
        width: 100%;
        display: block;
    }

    .container-fluid {
        overflow: hidden;
    }

    .dados-corrida {
        height: fit-content;
        width: 100%;
        margin: 0px;
        padding: 10px 2px;

    }

    .dados-corrida .info-corrida {
        margin-top: 10px;
        height: auto;
        float: none;
        border-left: none;
        border-bottom: 2px solid #00ca6d;
        padding: 0px !important;
    }

    .dados-corrida img {
        float: none;
        width: 100%;
        height: auto;
    }

    .titulo-page {
        height: 25px;
        margin-top: 40px;
    }

    .display-4 {
        font-size: 1.4em
    }

    .display-5 {
        font-size: 1.2em
    }

    #box-contato {
        max-width: 500px;
        margin: 40px auto;
    }

    #box-informacoes-contato {
        display: block;
        width: 100%;
        float: left;
    }

    #box-informacoes-contato h4 {
        text-align: center;
    }

    #box-formulario-contato {
        width: 100%;
        display: block;
        padding-top: 30px;
        margin-top: 30px;
        border-top: 2px solid #00a65a;
        border-left: none;
        float: left;
        padding-right: 30px;
    }

}