<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}3CTIMING{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" type="text/css" media="all" />
    <link href="{{ asset('css/home/base-06012022.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div id="barra-menu"
     class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 id="logo-menu" class="my-0 mr-md-auto font-weight-normal text-success">
        <a class="p-2 text-success" href="{{ path('home') }}"><img width="80" src="{{ asset('photos/logo.png') }}"
                                                                   alt="3CTiming" title="3CTiming"/></a>
    </h5>
    <div id="box-menu-container"></div>
    <nav id="lista-menu" class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-light" href="{{ path('home') }}">PÁGINA ÍNICIAL</a>
        <a class="p-2 text-light" href="{{ path('resultados') }}">RESULTADOS</a>
        <a class="p-2 text-light" href="{{ path('proximas') }}">PRÓXIMAS CORRIDAS</a>
        <a class="p-2 text-light" href="{{ path('contato') }}">CONTATO</a>
    </nav>
    <span class="text-center btn btn-outline-light" id="btn-menu" data-toggle="collapse"
          data-target="#collapseMenu"
          aria-expanded="true" aria-controls="collapseMenu">MENU</span>

</div>
<div class="accordion" id="accordion-menu">


    <div id="collapseMenu" class="collapse" aria-labelledby="collapseMenu"
         data-parent="#accordion-menu">
        <div class="card-body">
            <nav class="my-2">
                <a class="p-2 text-light" href="{{ path('home') }}">PÁGINA ÍNICIAL</a>
                <a class="p-2 text-light" href="{{ path('resultados') }}">RESULTADOS</a>
                <a class="p-2 text-light" href="{{ path('proximas') }}">PRÓXIMAS CORRIDAS</a>
                <a class="p-2 text-light" href="{{ path('contato') }}">CONTATO</a>
            </nav>
        </div>
    </div>
</div>

<section class="bg-black">
    {% block conteudo %}

    {% endblock %}
</section>
{% block certificado %}

{% endblock %}

{% block javascripts %}{% endblock %}
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="{{ asset("assets/utils/jquery.flip.min.js") }}" type="application/javascript"></script>
<script src="{{ asset("assets/utils/particles.min.js") }}" type="application/javascript"></script>
<script src="{{ asset("assets/utils/particulas.js") }}" type="application/javascript"></script>
<script src="{{ asset("assets/base.js") }}" type="application/javascript"></script>
</html>
