{% extends base_template %}
{% block sonata_breadcrumb %}
{% endblock %}
{% block sonata_head_title %}
{% endblock %}

{%- block tab_menu -%}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass': 'active',
        'template': get_global_template('tab_menu_template')
    }, 'twig') }}
{%- endblock -%}
{% block title %}
    {% if admin.isChild and admin.parent.subject %}
        {{ "title_edit"|trans({'%name%': admin.parent.toString(admin.parent.subject)|truncate(15) }, 'SonataAdminBundle') }}
    {% endif %}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block content %}
    <div class="sonata-ba-content">
        <div class="sonata-ba-list-field">
            <div class="box box-body">
                <div class="box-header">
                    <h3 class="box-title">{{ admin.corrida.nome }}</h3>
                </div>
                <input type="hidden" id="corridaId" value="{{ admin.corrida.id }}">
                <div class="panel" style="padding: 30px">
                    <div class="form-group">
                        <label for="input-dropzone">Arraste ou clique para adicionar arquivos</label>
                        <div class="dropzone"></div> {# This is the element which is used as a dropzone #}
                    </div>
                    <input type="hidden" id="fileName">
                </div>
                <div class="col-xs-12 col-md-12" id="table-categorias">
                    {% include '/Admin/Categoria/table_list.html.twig' with {'categorias' : admin.datagrid.results} only %}
                </div>
            </div>
        </div>
        <div class="box-footer clearfix">
            <a href="{{ path('admin_app_corrida_list') }}" class="btn btn-success"><i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar</a>
            <a href="{{ path('admin_app_corrida_edit', {'id': admin.corrida.id }) }}" class="btn btn-success"><i class="fa fa-edit" aria-hidden="true"></i> Editar</a>
        </div>
    </div>
{% endblock %}

{% block list_table %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/dropzone/dropzone.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/css/admin/style.css') }}"/>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/dropzone/dropzone.min.js') }}"></script>
    <script src="{{ asset('assets/upload/resultados.js') }}"></script>
{% endblock %}