{% for categoria in categorias %}
    <div class="panel-group col-lg-12 {{ "categoria"~categoria.id }}" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default  col-lg-12">
            <div class="panel-heading  col-lg-12" role="tab" id="heading{{ categoria.id }}">
                <h4 class="panel-title pull-left">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ categoria.id }}"
                       aria-expanded="false" aria-controls="collapse{{ categoria.id }}">
                        {{ categoria.nome }}
                    </a>
                </h4>
                <div class="pull-right">
                    <a href="{{ path('admin_app_categoria_delete', {'id': categoria.id}) }}"
                       class="btn btn-sm btn-default delete_link" title="Excluir">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Excluir
                    </a>
                </div>
            </div>
            <div id="collapse{{ categoria.id }}" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="heading{{ categoria.id }}">
                <div>
                    <table class="table table-bordered table-striped table-hover sonata-ba-list">
                        <thead>
                        <tr class="sonata-ba-list-field-header">
                            <th>Número</th>
                            <th>Nome</th>
                            <th>Sexo</th>
                            <th>Faixa</th>
                            <th>Posição Geral</th>
                            <th>Posição Faixa</th>
                            <th>Equipe</th>
                            <th>Tempo Liquido</th>
                            <th>Tempo Bruto</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for resultado in categoria.resultados %}
                            <tr>
                                <td>{{ resultado.numero }}</td>
                                <td>{{ resultado.nome }}</td>
                                <td>{{ resultado.sexo }}</td>
                                <td>{{ resultado.faixa }}</td>
                                <td>{{ resultado.posicaoGeral }}</td>
                                <td>{{ resultado.posicaoFaixa }}</td>
                                <td>{{ resultado.equipe }}</td>
                                <td>{{ resultado.tempoLiquido is empty ? "" : resultado.tempoLiquido | date("%H:%I:%S") }}</td>
                                <td>{{ resultado.tempoBruto is empty ? "" : resultado.tempoBruto | date("%H:%I:%S") }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
